@use "./constants.module.scss";
@use "./colors.scss";

:root {
	--content-max-width: 1200px;

	--screen-lg: #{constants.$screen-lg};
	--screen-md: #{constants.$screen-md};
	--screen-sm: #{constants.$screen-sm};
}

body {
	// Get screen size in real-time
	@media (max-width: constants.$screen-sm) {
		--screen-size: #{constants.$screen-sm};
	}
	@media (min-width: constants.$screen-sm) and (max-width: constants.$screen-md) {
		--screen-size: #{constants.$screen-md};
	}
	@media (min-width: constants.$screen-md) {
		--screen-size: #{constants.$screen-lg};
	}
}
